body {
  background-color: #ffffff;
  font-family: 'OpenSans';
  margin: 0 auto; }
  body div {
    margin-bottom: 0px; }

img {
  border: 0; }

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  height: 1%;
  line-height: 0;
  visibility: hidden; }

#header {
  background-color: #eeeeee;
  border-bottom: 1px solid #e6e6e6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  #header div ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    line-height: 100px; }
    #header div ul li {
      float: left;
      width: 160px;
      text-align: center; }
      #header div ul li a {
        color: #818181;
        font-size: 15px;
        line-height: 30px;
        text-decoration: none; }
  #header .headpic {
    float: left;
    padding-right: 20px; }
    #header .headpic #logo {
      height: 80px;
      width: 95px; }

#contentup {
  max-height: 380px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end; }
  #contentup div {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    width: 28%;
    margin: 0 20; }
    #contentup div h1 {
      color: #2c2c2c;
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      text-transform: uppercase; }
    #contentup div h2 {
      color: #2c2c2c;
      font-size: 30px;
      line-height: 36px;
      margin: 0;
      text-transform: none; }
    #contentup div p {
      font-size: 16px;
      line-height: 24px;
      margin-top: 5; }
      #contentup div p span {
        display: block;
        font-size: 12px;
        width: 360px;
        padding: 24px 0;
        text-align: center; }
        #contentup div p span b {
          font-weight: normal;
          display: block;
          width: 256px; }

#toybox {
  float: right;
  padding-left: 10px; }

#try {
  float: left;
  padding-left: 30px;
  height: 67px;
  width: 233px; }

#contents {
  min-height: 510px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 54 40; }
  #contents h1 {
    display: flex;
    justify-content: left;
    font-size: 60px;
    line-height: 60px;
    color: #2c2c2c;
    padding-bottom: -20px; }
  #contents div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    margin: 0 20px; }

#foot {
  background-color: #eee;
  border-top: 1px solid #d8d8d8;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
  width: 100%; }
  #foot div {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center; }
    #foot div p {
      font-size: 12px;
      line-height: 30px;
      padding-left: 10px; }
    #foot div img {
      float: right;
      height: 35px;
      width: 170px; }
