body {
  background-color: #ffffff;
  font-family: 'OpenSans';
  margin: 0 auto; }

img {
  border: 0; }

#header {
  background-color: #eeeeee;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center; }
  #header div ul {
    display: inline-block;
    list-style: none;
    line-height: 100px;
    margin: 0;
    padding: 0; }
    #header div ul li {
      float: left;
      width: 160px;
      text-align: center; }
      #header div ul li a {
        color: #818181;
        font-size: 15px;
        line-height: 30px;
        text-decoration: none; }
  #header .headpic {
    float: left;
    padding-right: 20px; }
    #header .headpic #logo {
      height: 80px;
      width: 95px; }

#contentup {
  height: 380px;
  padding: 60 0;
  display: inline-block;
  margin: 0 auto; }
  #contentup div {
    width: 800;
    margin: 0 auto;
    padding: 0 80; }
    #contentup div img {
      float: right;
      margin-left: 60; }
    #contentup div h1 {
      color: #2c2c2c;
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      text-transform: uppercase; }
    #contentup div h2 {
      color: #2c2c2c;
      font-size: 30px;
      line-height: 36px;
      margin: 0;
      text-transform: none; }

#contents {
  min-height: 510px;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 54 40; }
  #contents h1 {
    display: flex;
    justify-content: left;
    font-size: 60px;
    line-height: 60px;
    color: #2c2c2c;
    padding-bottom: 20px; }
  #contents div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    margin: 0 20px; }
